body {
  background-color: #f4f4f4;
  display: flex;
  justify-content: center;
  /* height: 100vh; */
  margin: 0;
  font-family: Arial, sans-serif;
}

.container {
  background: white;
  width: 60%;
  max-width: 800px;
  padding: 20px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
}

section {
  border-top: 2px solid #025a5f;
  padding-top: 10px;
  margin-top: 20px;
}

section h1,
section h3 {
  color: #025a5f;
  font-family: "Arial", sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  padding-bottom: 5px;
  border-bottom: 1px solid #025a5f;
  display: inline-block;
}
h6,
i {
  color: #025a5f;
  margin-left: 20px;
}
h5 {
  opacity: 0.6;
}
i {
  margin-right: 10px;
}
.educClass {
  margin-left: 10px;
}
